{% extends "page-inner.html" %}

{% block page_content %}
{% if artist_list %}
    <ul>
    {% for artist in artist_list|dictsort:"name" %}
        <li><a href="{{ artist.slug }}">{{ artist.name }}</a></li>
    {% endfor %}
    </ul>
	<p>Общо {{ artist_list.count }}.</p>
{% else %}
    <p>Няма изпълнители в базата.</p>
	<p>Егати!</p>
{% endif %}
	<p><a href="../artists/add">[ + ] добави изпълнител</a></p>
{% endblock %}

{% block page_nav %}
<div class=row>
	<form class=form-search>
		<input type=text class="search-query span2" />
		<input type=submit value="Търси" class="span1" />
	</form>
</div>{% endblock %}

</div>
