{% load thumbnail comments %}
<article class="event-article">

		<hgroup>

			<h3>
				<strong>{{ event.start|time:"H:i" }} &mdash;</strong>
				<a href="{{ event.get_absolute_url }}">{{ event.title }}</a>
				{% if event.location %} в <a href="{{ event.get_absolute_url }}">{{ event.location }}</a>, <a href="{{ event.get_absolute_url }}">{{ event.location.city }}</a>{% endif %}
			</h3>
			
		</hgroup>
		
		{% if event.tags %}
		<div class="news-detail"><i class="icon-tag"></i> жица</div>
		{% endif %}
		
</article>