{% extends "page-two-columns.html" %}
{% load comments markup %}
{% block title %}{{ article.title }}. {{ article.subtitle }}{% endblock %}

{% block content %}

<article itemscope itemtype="???">

<hgroup style="margin-bottom:18px;">

	<h1>{{ article.title }}</h1>
	<h2>{{ article.subtitle }}</h2>

</hgroup>

<section style="margin-bottom:18px;">

{{ article.contents|markdown }}

</section>

<section class="comments" id="comments">

{% comment %}
{% get_comment_count for article as comment_count %}
{% if comment_count %}
	<h2>{{ comment_count }} {% if comment_count == 1%}коментар{% else %}коментара{% endif %}.</h2>
{% else %}
	<h2>Какво мислиш?</h2>
{% endif %}

{% render_comment_list for article %}

{% render_comment_form for article %}
{% endcomment %}

</section>

</article>
	
{% endblock %}

{% block page_nav %}
<img src="{{ MEDIA_URL}}{{ pic.image }}" style="width:100%" />
Related:
<ul>{% for i in article.related.all %}<li>{{ i.object }}</li>{% endfor %}</ul>
Related to:
<ul>{% for i in article.related.related_to %}<li>{{ i.object }}</li>{% endfor %}</ul>
Documents:
<ul>{% for i in documents %}<li>{{ i.object }}</li>{% endfor %}</ul>
{% endblock %}