{% load comments markup %}
<article class="news-article{% if article.pic %} with-picture{% endif %}">
	{% if article.pic %}
	<div class="news-article-pic">
		<a href="#">{#{% thumbnail article.pic.image "400x216" crop="center" as im %}<img src="{{ im.url }}" style="width:100%">{% endthumbnail %}#}</a>
	</div>
	{% endif %}
	
	<div class="sidebox">
		<div>
			<span class="day d-{{article.day}}">{{article.day}}</span>
			<span class="month m-{{article.nmonth}}">{{article.month}}</span>
			<span class="year y-{{article.year}}">{{article.year}}</span>
		</div>
		<a href="{{ article.get_absolute_url }}#comments">
			<i class="icon-comment icon-white"></i> {#{% get_comment_count for article as comment_count %}#}{{comment_count}}
		</a>
	</div>
	
	<div class="news-article-title">
		<header>
			<hgroup>
				<a href="{{ article.get_absolute_url }}">
					<h2>{{ article.title }}</h2>
					<h3>{{ article.subtitle }}</h3>
				</a>
			</hgroup>
			{% if article.tags %}
			<div class="news-detail"><i class="icon-tag"></i> жица</div>
			{% endif %}
		</header>
		
		{% if show_top_comments %}
		<ul class="article-comments">
			{% get_comment_list for article as comments %}
			{% for comment in comments|slice:":2" %}
			{#{% for comment in article.chosen_comments %}#}
			<li style="margin-bottom:5px"><span class="article-comment-author">{{ comment.name }}</span>{{ comment.comment }}</li>
			{% endfor %}
		</ul>
		{% endif %}
	</div>
</article>