<div class="settings">
	<div class="settings-back"></div>
	<div class="container" style="height:100%;">
		<div class="row" style="height:80%;margin:54px auto;">
			<div class="span1">&nbsp;</div>
			<div class="span8" style="height:100%;">
				<section class="row" id="settings-mail" style="height:100%;position:absolute;top:0;display:none">
					<div class="span8">
						<h1>Поща:</h1>
						<table style="width:100%">
							<tr><td style="width:20%">Кой:</td><td>Какво:</td><td style="width:20%">Кога</td></tr>
							<tr><td>Пешо Слепия</td><td>Мона Лиза</td><td>преди 2 часа</td></tr>
							<tr><td>Онуфри</td><td>Стария фар</td><td>оня ден</td></tr>
						</table>
					</div>
					<div class=settings-icon>&#9993;</div>
				</section>
				<section class="row" id="settings-favorites" style="height:100%;position:absolute;top:0" >
					<div class="span4">
						<h1>Вълнува ме:</h1>
						<div style="height:100%;background:rgba(255,255,255,0.05);padding:18px;text-align:center;color:rgba(255,255,255,0.8)">Тук поставяй етикети и теми, които те интересуват и искаш да виждаш по-често.</div>
					</div>
					<div class="span4">
						<h1>Не ме вълнува:</h1>
						<div style="height:100%;background:rgba(255,255,255,0.05);padding:18px;text-align:center;color:rgba(255,255,255,0.8)">Тук поставяй етикети и теми, които предпочиташ да не виждаш.</div>
					</div>
					<div class=settings-icon>&#9733;</div>
				</section>
			</div>
			<div class="span2 settings-menu" style="height:100%">
				<ul>
					<li><a class="open-page" data-what="mail" href=#>поща (2)</a></li>
					<li>&nbsp;</li>
					<li><a class="open-page" data-what="favorites" href=#>интереси</a></li>
					<li><a class="open-page" data-what="profile" href=#>профил</a></li>
					<li><a class="open-page" data-what="settings" href=#>настройки</a></li>
					<li>&nbsp;</li>
					<li><a class="settings-close" href=#>изход</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>