{% extends "page-two-columns.html" %}
{% load thumbnail comments event_calendar markup %}
{% block title %}Предстоящи събития - концерти, фестивали, конкурси :: Джангър{% endblock %}

{% block content %}
<h1>{{ event.title }}</h1>
<h2><small class="date-display">{{ event.start }}{% if event.end %} &mdash; {{ event.end }}{% endif %}</small></h2>
<p>{{ event.description|markdown }}</p>

{% get_comment_count for event as comment_count %}
{% if comment_count %}
	<h2>{{ comment_count }} {% if comment_count == 1%}коментар{% else %}коментара{% endif %}.</h2>
{% else %}
	<h2>Какво мислиш?</h2>
{% endif %}

{% render_comment_list for event %}

{% render_comment_form for event %}

{% endblock %}

{% block sidebar %}
{% endblock %}