{% extends "page-inner.html" %}
{% load thumbnail %}

{% block title %}Енциклопедия на българския рок {% endblock %}

{% block page_content %}
<header class="pageheader">
<h1>Българска рок енциклопедия</h1>
</header>

<section>

<header class="clearfix">
	<div style="float:right;">
		<div class="btn-group" style="display: inline-block">
			<a class="btn btn-round has-tooltip" title="Добави нов изпълнител" href="../artists/add"><i class="icon-plus"></i></a>
		</div>
		<div class="btn-group" style="display: inline-block">
			<a class="btn has-tooltip" href=# title="Виж със снимки"><i class="icon-th"></i></a>
			<a class="btn has-tooltip" href=# title="Виж във вид на списък"><i class="icon-list"></i></a>
		</div>
	</div>
	<a href="/artists/"><h2 style="display:inline">Изпълнители</h2></a>
</header>

{% if artist_list %}
    <ul class="thumb-list clearfix">
    {% for artist in artist_list %}
		{% if forloop.counter0 < 2 %}
        <li class="box-sized span3">
			{% thumbnail artist.picture "220x126" crop="center" as im %}
				<a href="/artists/{{ artist.slug }}" style="background-image:url('{{ im.url }}')">
			{% empty %}
				<a href="/artists/{{ artist.slug }}" style="background-image:url('http://placekitten.com/220/108')">
			{% endthumbnail %}			
			<div class="name">{{ artist.name }}</div>
			</a>
		</li>
		{% else %}
		<li class="box-sized span2">
			{% thumbnail artist.picture "145x126" crop="center" as im %}
				<a href="/artists/{{ artist.slug }}" style="background-image:url('{{ im.url }}')">
			{% empty %}
				<a href="/artists/{{ artist.slug }}" style="background-image:url('http://placekitten.com/145/108')">
			{% endthumbnail %}			
			<div class="name">{{ artist.name }}</div>
			</a>
		</li>
		{% endif %}
    {% endfor %}
    </ul>
{% else %}
    <p>Няма изпълнители в базата.</p>
	<p>Егати!</p>
{% endif %}

<!-- "more" button -->

</section> <!-- end artists -->


<section>

<header class="clearfix">
	<div style="float:right;">
		<div class="btn-group" style="display: inline-block">
			<a class="btn btn-round has-tooltip" href="../people/add" title="Добави нова личност"><i class="icon-plus"></i></a>
		</div>
		<div class="btn-group" style="display: inline-block">
			<a class="btn has-tooltip" href=# title="Виж със снимки"><i class="icon-th"></i></a>
			<a class="btn has-tooltip" href=# title="Виж във вид на списък"><i class="icon-list"></i></a>
		</div>
	</div>
	<a href="/artists/"><h2 style="display:inline">Личности</h2></a>
</header>

{% if person_list %}
    <ul class="thumb-list clearfix">
    {% for person in person_list %}
        <li class="box-sized span2">
			{% thumbnail person.picture "145x108" crop="center" as im %}
				<a href="/people/{{ person.slug }}" style="background-image:url('{{ im.url }}')">
			{% empty %}
				<a href="/people/{{ person.slug }}" style="background-image:url('http://placekitten.com/145/108')">
			{% endthumbnail %}			
			<div class="name">{{ person.name }}</div>
			</a>
		</li>
    {% endfor %}
    </ul>
{% else %}
    <p>Няма никого тук.</p>
	<p>Егати!</p>
{% endif %}
</section> <!-- end people -->
{% endblock %}

{% block page_nav %}
<form class="form-search">
	<input type=text class="search-query span2" />
	<input type=submit value="Търси" class="span1" />
</form>
{% endblock %}

</div>
