{% extends "page-two-columns.html" %}

{% block content %}
<header class="pageheader"><h1><a href="/archive">Архив</a> &raquo; <strong>Изпълнители</strong></h1></header>

{% if artist_list %}

	{% regroup artist_list|dictsort:"name" by name|slice:"1" as artists %}
	
    {% for letter in artists %}
		<div>
			<h3 class="letter-heading">{{ letter.grouper }}</h3>
			<ul class=comma-list style="margin-top:-5px">
			{% for artist in letter.list %}
				<li {% if not artist.hasinfo %}class="no-info"{% endif %}><a href="/artists/{{ artist.slug }}">{{ artist.name }}</a></li>
			{% endfor %}
			</ul>
		</div>
    {% endfor %}
	<p>Общо {{ artist_list.count }}.</p>
{% else %}
    <p>Няма изпълнители в базата.</p>
	<p>Егати!</p>
{% endif %}
	<p><a href="/artists/add"><i class="icon-plus-sign"></i> добави изпълнител</a></p>
{% endblock %}

{% block sidebar %}
<div class=row>
	<form class=form-search>
		<input type=text class="search-query span2" />
		<input type=submit value="Търси" class="span1" />
	</form>
</div>
{% endblock %}

</div>
