{% extends "base.html" %}
{% block title %} Добавяне на изпълнител {% endblock %}

{% block content %}
<h1>Добавяне на песен</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="process/" method="post">
{% csrf_token %}
<div style="display:inline-block;padding:5px;border:1px solid #888;border-radius:4px;margin-bottom:10px">
Основна информация<br />
<label for=add-artist-name>Име на изпълнителя: <input type=text name=artist-name id=add-artist-name /></label><br />
<label for=add-artist-name>Етикети: <input type=text id=add-artist-name /></label>
</div><br />
<div style="display:inline-block;padding:5px;border:1px solid #888;border-radius:4px;margin-bottom:10px">
Допълнителна информация<br />
<label for=add-artist-name>Град: <input type=text id=add-artist-name /></label><br />
<label for=add-artist-name>Години активност: <input type=text id=add-artist-name /></label><br />
<label for=add-artist-name>Състав: <input type=text id=add-artist-name /></label><br />
</div><br />
<input type="submit" value="Добави този изпълнител" />
</form>
{% endblock %}