<section class="paper row homepage-section" id="feedpost-voting">
		
	<div class="span6">
	
		<h2>От фийдовете</h2>
		<h3>Синдикация и агрегация всеки ден!</h3>
		
	</div>
	
	<div class="span10">
	
		<div class="white-dialog">
			
			Това свързано ли е с <a href="/help/faq">българската авторска музика?</a>
			
			{% for post in feed_posts %}
			<article class="clearfix">
				<div style="padding-left:9px">
					<a href="/red/?do=moderate_feed&id={{ post.id }}&vote=plus" class="fn-vote btn btn-success" data-id="{{ post.id }}" data-vote="plus"><i class="icon-ok"></i></a>
					<a href="/red/?do=moderate_feed&id={{ post.id }}&vote=minus" class="fn-vote btn btn-danger" data-id="{{ post.id }}" data-vote="minus"><i class="icon-remove"></i></a>
				</div>
				<h4>{{ post.title }}</h4>
				<h5><a target="_blank" href="{{ post.url }}">Прочети подробности &rarr;</a></h5>
			</article>
			{% endfor %}
			<div style="text-align:center; display:none" id="feed-thanks">
				<h4><span style="color:#777;text-shadow: 0 1px 0 white">Мерси!</span> <a href="/red/?feed_posts=more">Дай още &rarr;</a></h4>
			</div>
			
		</div>
		
	</div>

</section>