{% if user.is_authenticated %}

{% load comments i18n %}

<form action="{% comment_form_target %}" method="post" class="comment-form">{% csrf_token %}

	{#{% if next %}<div><input type="hidden" name="next" value="{{ next }}" /></div>{% endif %}#}
	
	<div><input type="hidden" name="next" value="{{ request.path }}" /></div>
	
	{% for field in form %}
	
		{% if field.is_hidden %}
		
			<div>{{ field }}</div>
	
		{% else %}
		
			{% ifequal field.name "honeypot" %}
			
				<div style="position:fixed;left:-1000px;">{{ field }}</div>
				
			{% else %}
	
				<div class="comment-form-box{% if field.errors %} error{% endif %}">
				
					<div class="comment-avatar"></div>{{ field }}<input type="submit" name="post" class="comment-button btn" value="&raquo;" />
				
				</div>
			
			{% endifequal %}
		
		{% endif %}
		
	{% endfor %}

</form>

{% else %}

<div class="login-stone">
	За да коментираш, трябва да <a href=#>влезеш</a> (или <a href=#>да се регистрираш</a>, ако още не си).
</div>

{% endif %}