{% extends "page-two-columns.html" %}
{% load thumbnail markup %}

{% block title %}Джангър{% endblock %}

{% block content %}
&nbsp;
{% endblock %}

{% block sidebar %}
<section style="margin-bottom:18px">
	<h2 class="gray-heading">Групи</h2>
	<ul>
		<li>Зор</li>
		<li>Вампири, таласъми</li>
		<li style="color:#777">+ добави група</li>
	</ul>
</section>

<section style="margin-bottom:18px">
	<h2 class="gray-heading">Клубове</h2>
	<ul>
		<li>Хора, спящи по концерти</li>
		<li>Цигари без филтър</li>
		<li>Искаме си десетилетията!</li>
	</ul>
</section>

<section style="margin-bottom:18px">
	<h2 class="gray-heading">Ордени</h2>
	
</section>

{% endblock %}
