* {
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
}

body {
	margin: 0;
	font-family: @baseFontFamily;
	font-size: @baseFontSize;
	line-height: @baseLineHeight;
	color: @textColor;
	background-color: @bodyBackgroundColor;
	//background-image: @bodyBackgroundImage;
}

html { overflow-y: scroll }

a {
	color: @linkColor;
	text-decoration: none;
}
a:hover {
	color: @white;
	text-decoration: none;
	background: @linkColor;
	
	text-shadow: 0 1px 0 darken(@linkColor, 50%);
	box-shadow: 0 1px 0 darken(@linkColor,50%);
}

.extbg {
	padding:1px 3px;
	margin:-1px -3px;
	border-radius:4px;
}
p > a:hover { .extbg; }

section {
	margin-bottom: @baseLineHeight;
}

.container {
	.clearfix;
	width: @totalWidth;
	margin: 0 auto;
	//padding-left: @u;
	//padding-right: @u;
	overflow: hidden;
	text-shadow:0 1px 0 white;
}

.page {
	//padding-top: @u;
	padding-bottom: @u;
	background-color:@pageBackgroundColor;
	background-image:@pageBackgroundImage;
}

.content {
	position:relative;
	padding: 0 30px 2*@u;
	width:@contentWidth - 60px;
	box-shadow: 0 5px 10px #999;
	.main {
		padding-top: 2*@u;
	}
}

.sidebar {
	position:absolute;
	top:0;
	right:-@sidebarWidth;

	width: @sidebarWidth - 60px;
	height: 100%;

	padding: 2*@u 30px;
	
	background: rgba(0,0,0,0.05);
	background: -moz-linear-gradient(left, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.0) 38%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.1)), color-stop(38%,rgba(0,0,0,0.0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.0) 38%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.0) 38%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.0) 38%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(left, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.0) 38%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */

	.featured-list {
		list-style: none;
		margin-bottom: @u;
		li {
			//.row(6);
			.clearfix();
			display: block;
			margin-top: @u;
			
			hgroup {
				display: inline;
				float: left;
				width: 21@u;
			}
			
			.icons {
				display: inline;
				float: left;
				width: 135px;				
			}
		}
	}
}
