@columns: 18;
@column-width: 36;
@gutter-width: 18;

@white: #fff;
@grayLightest: #ccc;
@grayLighter: #aaa;
@grayLight: #999;
@grayMedium: #777;
@grayDark: #555;
@grayDarker: #333;
@black: #000;

@textColor: #000;
@linkColor: #821;
@linkColorHover: #f42;

@pageBackgroundImage: url('../img/paper4.png');
@pageBackgroundColor: @grayMedium;

@bodyBackgroundColor: @pageBackgroundColor;
@bodyBackgroundImage: @pageBackgroundImage;

@baseFontFamily: 'Open Sans',Verdana,Arial,sans-serif;
@baseFontSize: 12px;
@baseLineHeight: 18px;

@headingsFontFamily: Georgia, sans-serif;
@headingsFontWeight: normal;
@headingsColor: @textColor;

@btnBackground: @white;
@btnBackgroundHighlight: @grayLightest;
@btnBorder: @grayMedium;

@hrBorder: @grayLight;

@totalWidth: 972px;
@contentWidth: @totalWidth / 1.62;
@sidebarWidth: @totalWidth - @contentWidth;