{% extends "page-inner.html" %}
{% load thumbnail %}
{% load url from future %}
{% block title %}Каталог на сцени, музикални магазини, студиа {% endblock %}

{% block page_content %}
<header class="pageheader">
<h1>Каталог</h1>
</header>

{% for category in categories %}
	{% cycle '<div class="row">' '' %}
		<section class="span6">
			<div style="float:right">
				<ul class="pillmenu">
					<li><a href=#>Всички</a></li>
					<li><a href=#>Варна</a></li>
					<li><a href=#>София</a></li>
				</ul>
			</div>
			<h2>{{ category.0 }}</h2>
			<ul class="catalog-list">
				{% for item in category.1 %}
				<li>
					<a href={% url 'catalog.views.view_item' item_slug=item.slug %}>{{ item }}
					{% if item.city %}<span style="color:#777;text-shadow:0 1px 0 white">{{ item.city }}</span>{% endif %}
					</a>
				</li>
				{% endfor %}
			</ul>
		</section>
	{% cycle '' '</div>' %}
{% endfor %}

{% endblock %}

{% block sidebar %}
<form class="form-search">
	<input type=text class="search-query span3" /><input type=submit value="" class="span1" />
</form>
{% endblock %}

</div>
